# http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_path

proxy_cache_path  /var/cache/nginx  levels=1:2    keys_zone=STATIC:10m max_size=2g;

server {
    listen       8080;
    server_name  cache;

{% for site in nginx_proxy_cache_upstreams %}
    location /{{ site.name }} {
        proxy_pass             {{ site.url }};
        proxy_set_header       Host $host;
        proxy_buffering        on;
        proxy_cache            STATIC;
        proxy_cache_valid      200  {{ site.proxy_cache_valid | default(nginx_proxy_cache_valid) }};
        proxy_cache_use_stale  error timeout invalid_header updating
                               http_500 http_502 http_503 http_504;
    }
{% endfor %}

}
